<div class="container contenedor-inicio">
    <p class="bienvenida">
        Somos la Iglesia Bautista Más Vida
    </p>
    <p class="descripcion">
        Somos una iglesia Cristocéntrica, donde se predica un mensaje apegado a la Palabra de Dios. Somos una familia en la fe, donde el amor hacia nuestros hermanos es primordial.
    </p>
    <div class="contenedor-botones">
        <div class="contenedor-primera-vez">
            <a class="btn btn-info" href="../../../assets/Archivos/Declaracion_de_fe.pdf" target="_blank">
                ¿Qué creemos?
            </a>
        </div>
        <div class="contenedor-primera-vez">
                <a class="btn btn-info" routerLink="/visitanos">
                ¿Nos visitas por primera vez?
            </a>
        </div>        
        <div class="contenedor-primera-vez">
            <a class="btn btn-info" routerLink="/ensenanzas">
            Escucha una prédica
        </a>
    </div>        
</div>
</div>