<div class="container-fluid">

    <p class="titulo">
        Te invitamos a contactarnos por estos medios:
    </p>
    <hr>
    <div class="contenedor-tabla">
        <table class="tabla-contacto">
            <tr class="contactos">
                <td class="contacto">
                    <a href="https://wa.me/34671125688" target="_blank">
                        <img src="../../../assets/img/telefono.png" class="icono-contacto">
                        +34 671 12 56 88
                    </a>
                </td>
                <td class="contacto">
                    <a href="" target="_blank">
                        <img src="../../../assets/img/email.png" class="icono-contacto">
                        correo&#64;iglesia.com
                    </a>
                </td>
            </tr>
            <tr class="contactos">
                <td class="contacto">
                    <a href="https://www.facebook.com/IglesiaBautistaMasVida1" target="_blank">
                        <img src="../../../assets/img/facebook.png" class="icono-contacto">
                        Iglesia Bautista Mas Vida
                    </a>
                </td>
                <td class="contacto">
                    <a href="https://www.instagram.com/masvida.alcorcon/" target="_blank">
                        <img src="../../../assets/img/instagram.png" class="icono-contacto">
                        &#64;masvida.alcorcon
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>