@media only screen and (max-width: 768px) {
    .dropdown-menu{
        background-color: white;
        width: 100vh;
        border-style: solid;
    }

    a{
        color: rgb(37, 185, 218);
    }

    .navbar-brand {
      background-color: transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .navbar-toggler{
        position: absolute;
        left: -15%;
        top: 0%;
        transform: translateX(-50%);  
    }

    .navbar-collapse{
        height: -moz-available;
        height: -webkit-fill-available;
        width: fill-available;        
    }

}
   
.container-nav{
    background: linear-gradient(180deg, rgba(37,185,218,1) 0%, rgba(37,185,218,1) 35%, rgba(255,255,255,1) 100%);
    width: 100%;    
    text-align: center;
}

.logo{
    height: 5rem;
    display: block;
}

a{
    color: #eee;
}

.navmv{
    height: 6rem;
}

.contenedor-logo{
    float: left;
    height: 7rem;
    width: 10%;
    display: table;
}

.contenedor-navbar{
    height: 7rem;
    width: 50%;
    margin-left: 15%;
    display: block;
}

.contenedor-dona{
    width: 10%;
    display: inline-block;
    border-style: dotted;
}

.nav-item{
    width: 8rem;
}

.dropdown-item{
    color: rgba(37,185,218,1);    
}