<div class="container-nav">
  <div class="contenedor-logo">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/ibmvlogo.png" class="logo">
    </a>  
  </div>
  <div class="contenedor-navbar">
    <nav class="navbar navbar-expand-lg navmv">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/inicio">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/visitanos">Visítanos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Media
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/ensenanzas">Enseñanzas</a></li>
                <li><a class="dropdown-item" href="#">Biblioteca</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ministerios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Niños</a></li>
                <li><a class="dropdown-item" href="#">Jóvenes</a></li>
                <li><a class="dropdown-item" href="#">Mujeres</a></li>
                <li><a class="dropdown-item" href="#">Varones</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.paypal.com/donate/?hosted_button_id=GAMZF5RTTXTYN" target="_blank">Dona</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>  
  </div>
</div>
