table{
    width: 80%;
    margin-left: 20%;
}
td{
    height: 10rem;
    width: 20rem;
}

img{
    height: 20rem;
}

@media screen and (max-width: 600px) {
    table{
        width: 80%;
        margin-left: 0;
    }
    img{
        height: 10rem;
    }

    td{
        width: 20rem;
    }
}