<div class="container principal lato-regular">
    <div class="encabezado">
        <h2>Te invitamos a acompañarnos</h2>
    </div>
    <hr>
    <div *ngFor="let reunion of info" class="horario">
        <div class="dia">
            <h3>{{reunion['dia']}}</h3>
        </div>
        <div class="reuniones">
            <div *ngFor="let r of reunion['reuniones']" class="reunion">
                <strong>{{r['reunion']}}</strong> - {{r['horario']}}
            </div>    
        </div>
    </div>
    <div class="container direccion">
        <div class="enlace-direccion">
            <a href="https://www.google.com/maps/place/Iglesia+Bautista+M%C3%A1s+Vida/@40.355322,-3.8213561,17z/data=!3m2!4b1!5s0xd41893170912cd7:0x27800d7574849e31!4m6!3m5!1s0xd4189204e507f1d:0x1e10f884b0e8b75!8m2!3d40.355322!4d-3.8187812!16s%2Fg%2F11gjmt_gk1?entry=ttu" target="_blank">
                ¿Cómo llegar?
            </a>    
        </div>
    </div>
</div>
