<div class="container principal lato-regular">
    <div class="encabezado">
        <h2>Te invitamos a acompañarnos</h2>
    </div>
    <div *ngFor="let reunion of info" class="horario">
        <div class="dia">
            <h3>{{reunion['dia']}}</h3>
        </div>
        <div class="reuniones">
            <div *ngFor="let r of reunion['reuniones']" class="reunion">
                <strong>{{r['reunion']}}</strong> - {{r['horario']}}
            </div>    
        </div>
    </div>
    <div class="container direccion">
        <div class="enlace-direccion">
            <a href="https://www.google.com/maps/dir/40.443089,-3.7130504/C.+Sahag%C3%BAn,+28,+Alcorc%C3%B3n,+Madrid/@40.4107416,-3.8570096,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd4189317155fb43:0x13b7fa5753b41b19!2m2!1d-3.8187761!2d40.3553148?entry=ttu" target="_blank">
                ¿Cómo llegar?
            </a>    
        </div>
    </div>
</div>
