<div class="container principal lato-regular">
    <div class="encabezado">
        <h2>Te invitamos a acompañarnos</h2>
    </div>
    <hr>
    <div *ngFor="let reunion of info" class="horario">
        <div class="dia">
            <h3>{{reunion['dia']}}</h3>
        </div>
        <div class="reuniones">
            <div *ngFor="let r of reunion['reuniones']" class="reunion">
                <strong>{{r['reunion']}}</strong> - {{r['horario']}}
            </div>    
        </div>
    </div>
    <div class="container direccion">
        <div class="enlace-direccion">
            <a href="https://www.google.com/maps/place/C.+Sahag%C3%BAn,+28,+Alcorc%C3%B3n,+Madrid/@40.3553519,-3.8188161,17z/data=!4m6!3m5!1s0xd4189317155fb43:0x13b7fa5753b41b19!8m2!3d40.3553148!4d-3.8187761!16s%2Fg%2F11c2dxn19c?entry=ttu" target="_blank">
                ¿Cómo llegar?
            </a>    
        </div>
    </div>
</div>
