@font-face {
    font-family: LouisGeorgeCafe;
    src: url('../src/assets/Fuentes/Louis_George_Cafe/LouisGeorgeCafe.ttf');
}

@font-face {
    font-family: LouisGeorgeCafeBold;
    src: url('../src/assets/Fuentes/Louis_George_Cafe/LouisGeorgeCafeBold.ttf');
}


body{
    font-family: LouisGeorgeCafe;
}

